
<html>
<title>
    SignMeIn
</title>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/theme.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
</head>
<body>

    <div id="centered-goodies">
        <center><img class="logo" src="/images/logo.png">
        <form class="form-inline">
            <div class="form-group">
                <br>
                <input type="text" class="form-control" id="eventid" placeholder="Event ID" ng-model="checkin.EventID"><br>
                <a href="/#/about" class="btn btn-default">Sign Me In</a>
            </div>
        </form></center>
    </div>
    <div class="btn-group" id="footer">
        <center><a href="/#/login" class="btn btn-default">Account Login</a>
        <a href="/#/about" class="btn btn-default">About SignMeIn</a></center>
    </div>
</body>
</html>