<html>
<title>
    Makers
</title>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/theme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/twemoji-awesome.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
</head>
<body>
    <div id="centered-goodies">
        <center>
            <h1>Makers</h1>
            <div class="well">
                <h4><li class="twa twa-sparkles"></li>Agustin Balquin<li class="twa twa-sparkles"></li></h4>
                <img src="images/agustin.jpg" class="img-circle">
                <p>Server wizard</p>
                <a href="https://github.com/agustinbalquin" class="btn btn-info btn-xs">GitHub</a>
                <hr>
                <h4><li class="twa twa-art"></li>John Pham<li class="twa twa-art"></li></h4>
                <img src="images/john.jpg" class="img-circle">
                <p>Make up artist</p>
                <a href="http://johnpham.net" class="btn btn-info btn-xs">Website</a>
            </div>
        </center>
    </div>

    </div>
    <br>
    <div class="btn-group" id="footer">
        <center>
            <a href="/#/about" class="btn btn-default">Back</a>
            <a href="/#/login" class="btn btn-default">Account Login</a>
            <a href="/#/index" class="btn btn-default">Home</a>
        </center>
    </div>
</body>
</html>
