<html>
<title>
    Previous Events
</title>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/theme.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
</head>
<body>
    <div id="centered-goodies">
        <center>
            <div class="well">
                <h3>Previous Events</h3>
                <hr>
                <a href="/#/attendedevents" class="btn btn-info">Attended</a><br><br>
                <a href="/#/createdevents" class="btn btn-info">Created</a>
            </div>
        </center>
    </div>
    <div class="btn-group" id="footer">
        <center>
            <a href="/#/userpanel" class="btn btn-default">Back</a>
        </center>
    </div>
</body>
</html>
