<html>
<title>
    Sucess!
</title>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/theme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/twemoji-awesome.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
</head>
<body>

    <div id="centered-goodies">
        <center><img class="logo-small" src="/images/logo.png">
            <h3>Sucessful Login!</h3>
            <i class="twa twa-5x twa-ok-hand"></i>
        </center>
    </div>
    <div class="btn-group" id="footer">
        <center><a href="/#/userpanel" class="btn btn-default">Back</a>
        <a href="/#/" class="btn btn-default">Home</a></center>
    </div>
</body>
</html>
